SQLALCHEMY_DATABASE_URI = 'sqlite:///fiveminutes.db'
MAIL_SERVER = 'FILLMEIN'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = 'FILLMEIN'
MAIL_PASSWORD = 'FILLMEIN'
SECRET_KEY = 'FILLMEIN'
OPENID_DOMAIN = 'britecore.com'
WORK_GROUPS = ('Engineering', 'Client Services', 'Admin')
