{% extends "layout.html" %}
{% block title %}Daily Songs{% endblock %}
{% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block content %}
    {% if songs %}
        <div class='row'>
            <div class='hero-unit'>
                <div class='row-fluid'>
                    <div class='well'>
                        <div class='row-fluid'>
                            <div id='form_container' class='row-fluid'>
                                {% include 'spotify_uri_form.html' %}
                            </div>
                            <div class='well'>
                                {% include 'song_of_the_day.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                {% for song in songs %}
                    {% if loop.index0 % 3 == 0 %}
                        {% if not loop.first %}
                            </div>
                        {% endif %}
                        <div class='row-fluid art_row'>
                    {% endif %}
                    <div class='song well' id="{{ song.track_uri }}-{{ song.album_uri }}">
                        <div class='row-fluid'>
                            <img class='row-fluid' src='{{ url_for('static', filename='img/albumart') }}/{{ song.album_uri|extract_id_from_uri }}' />
                            <div class='song_details row-fluid '>
                                <div class='row-fluid'>
                                    <div class='song_detail'><p id="songDate" class='inline tinyfont'> Date: {{ song.created_on|datetimeformat(format="%m/%d/%Y") }} </p></div>
                                </div>
                                <div class='divider'></div>
                                <div class='row-fluid'>
                                    <div class='song_detail'><p id="songTitle" class='inline tinyfont'> Title: {{ song.track_name }} </p></div>
                                </div>
                                <div class='divider'></div>
                                <div class='row-fluid'>
                                    <div class='song_detail'><p id="songArtist" class='inline tinyfont'> Artist: {{ song.artist_name }} </p></div>
                                </div>
                                <div class='divider'></div>
                                <div class='row-fluid'>
                                    <div class='song_detail'><p id="songAlbum" class='inline tinyfont'> Album: {{ song.album_name }} </p></div>
                                </div>
                                <div class='divider'></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class='row'>
            <div class='hero-unit'>
            <h2>Set Song</h2>
            {% include 'spotify_uri_form.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/set_daily_songs.js') }}"></script>
{% endblock %}
