<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Five Minutes {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Work Queue Management">
    <meta name="author" content="IWS Engineering">

    <!-- Le styles -->
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/5.png') }}">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
     .input-append button.add-on {
        height: inherit !important;
     }
    </style>
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='bootstrap/css/jquery-ui.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" />
    {% block css %}{% endblock css %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- begins navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('index') }}" style="color: #fff;"><i class="icon-cog"></i> Five Minutes</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right" style="margin-top: -10px;">
                    {% if g.user %}
                    <li><a href="{{ url_for('index') }}">Announcements</a>
                    <li><a href="{{ url_for('get_daily_songs') }}">Daily Songs</a>
                    <li><a href="{{ url_for('get_queues') }}">All Queues</a>
                    <li><a href="{{ url_for('get_queues') }}/{{ g.user.id }}">My Queue</a>
                    <li><a href="{{ url_for('edit_profile') }}">Profile</a>
                    <li><a href="{{ url_for('logout') }}" class="btn-header">Sign Out [{{ g.user.name }}]</a>
                    {% endif %}
                </ul>
            </div>
        </div>
      </div>
    </div>
    <!-- ends navbar -->
    <div class="container hero-unit">
        {% with messages = get_flashed_messages(with_categories=true) %}
            <div id='alerts'>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    {{ message|safe }}
                </div>
            {% endfor %}
            </div>
        {% endwith %}
        {% block content %}{% endblock content %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='bootstrap/js/jquery-1.8.2.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootbox.min.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        window.setTimeout(function() { $(".alert").fadeOut('slow'); }, 4000);
    </script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
