{% extends "announcement_pane.html" %}
{% block timeline %}
{% for announcement in all_announcements %}
    <div class='row-fluid'>
        <div class='well offset1 span10'>
            <div class='row-fluid'>
                <div class='span12 message_header'>
                    <div class='pull-left'>
                        <img class='message_grav' src="{{ announcement.user.email|gravatar(size=30) }}">
                        <p class='inline smallfont'> {{ announcement.user.name }} </p>
                    </div>
                    <div class='pull-right'>
                        <p class='inline tinyfont'> <small> {{ announcement.created_on|datetimeformat }} </small> </p>
                    </div>
                </div>
            </div>
            <div class='row-fluid'><div class='span12 divider'></div></div>
            <div class='row-fluid'>
                <div class='span12'>
                    <p> <small> {{ announcement.text }} </small></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}



