<!DOCTYPE html>
<html lang="en-US">

    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='calendar.css') }}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ url_for('static', filename='jquery_ui-1.8.19.date_picker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

        <title>5Minutes</title>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">

                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <a class="brand" href="#">5Minutes</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>

                    <!-- Everything you want hidden at 940px or less, place within here -->
                    <div class="nav-collapse collapse">
                        <!-- .nav, .navbar-search, .navbar-form, etc -->
                        <div class='nav pull-right'>
                            <a id='login' class="btn btn-primary" data-toggle='dropdown'  href=#>Login</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if error %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error:</strong> {{ error }}
            {% if register %}
            <a id='register' class="btn btn-danger" data-toggle='dropdown' href="/login"> Yeah, I should register...</a>
            <script>
                window.setTimeout(function() { $(".alert").alert('close'); }, 5000);
            </script>
            {% else %}
            <script>
                window.setTimeout(function() { $(".alert").alert('close'); }, 2000);
            </script>
            {% endif %}
        </div>
        {% endif %}
    </body>
    {% include 'global_js_imports.html' %}
    <script src="{{ url_for('static', filename='calendar.js') }}"></script>
</html>

