{% if song_of_the_day %}
<div class='row-fluid'>
    <div class='span12'>
        <div class='row-fluid'>
            <div class='span4'>
                <iframe src="https://embed.spotify.com/?uri={{ song_of_the_day.spotify_uri }}" width="80" height="80" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div id="songInfo" class='song_details span8'>
                <div class='song_details detail'><p id="songTitle" class='inline tinyfont'> Song Title: Title Here </p></div>
                <div class='song_details detail'><p id="songArtist" class='inline tinyfont'> Artist: Artist Here </p></div>
                <div class='song_details detail'><p id="songAlbum" class='inline tinyfont'> Album: Album Here </p></div>
            </div>
        </div>
        <!-- <div class='row-fluid'> -->
            <!-- [> <iframe src="https://embed.spotify.com/?uri=spotify:track:0vUKSQvNb3ntbuFy1h2r2O" width="80" height="120" frameborder="0" allowtransparency="true"></iframe> <] -->
        <!-- </div> -->
    </div>
</div>
{% else %}
    <a href="{{ url_for('setDailySongs') }}">No Song Selected: Set Today's Song</a>
{% endif %}
