{% extends 'message_pane.html' %}
{% block timeline %}
{% for message in all_messages %}
    <div class='well span8 row'>
        <hr class='hr_divider span8 remove_margin_left' />
        <div class='span8 remove_margin_left message_header'>
            <div class='pull-left'>
                <img class='message_grav' src="{{ message.email|gravatar(size=30) }}">
                <p class='inline smallfont'> {{ message.username }} </p>
            </div>
            <div class='pull-right'>
                <p class='inline tinyfont'> <small> {{ message.pub_date }} </small> </p>
            </div>
        </div>
        <hr class='hr_divider span8 remove_margin_left' />
        <div class='span8 remove_margin_left'>
            <p> <small> {{ message['text'] }} </small></p>
        </div>
    </div>
{% endfor %}
{% endblock %}



